sudo: required
dist: xenial

services:
  - docker

language: python

python:
  - '2.7'
  - '3.7'

env:
  - NEO4J_VERSION=3.3.2
  - NEO4J_VERSION=latest

before_install:
  - docker pull neo4j:$NEO4J_VERSION

install: python setup.py testing

script: python setup.py test

